In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [3]:
df = pd.DataFrame({
    'user_id':   [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'banner':     [101, 102, 101, 103, 102, 101, 103, 104, 102, 101],
    'displays': [10, 20, 3, 5, 12, 23, 6, 9, 12, 20],
    'clicks': [4, 0, 3, 1, 0, 7, 4, 6, 8, 10],
    'channel': ['web', 'mobile', 'web', 'web', 'mobile', 'web', 'mobile', 'web', 'mobile', 'web'],
    'timestamp': [
        '2025-06-01 12:00', '2025-06-02 15:00', '2025-06-03 14:00',
        '2025-06-04 16:00', '2025-06-05 17:00', '2025-06-06 18:00',
        '2025-06-07 19:00', '2025-06-08 20:00', '2025-06-09 21:00',
        '2025-06-10 22:00'
    ]
})
df

   user_id  banner  displays  clicks channel         timestamp
0        1     101        10       4     web  2025-06-01 12:00
1        2     102        20       0  mobile  2025-06-02 15:00
2        3     101         3       3     web  2025-06-03 14:00
3        4     103         5       1     web  2025-06-04 16:00
4        5     102        12       0  mobile  2025-06-05 17:00
5        6     101        23       7     web  2025-06-06 18:00
6        7     103         6       4  mobile  2025-06-07 19:00
7        8     104         9       6     web  2025-06-08 20:00
8        9     102        12       8  mobile  2025-06-09 21:00
9       10     101        20      10     web  2025-06-10 22:00

1. Convert the timestamp column to datetime object.
2. Create columns with hour, day, week.
3. What day of the week had the highest activity?

First, I convert the timestamp column to datetime using, pd.to_datetime()

In [4]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

Control that timestamp is converted:

In [5]:
df

   user_id  banner  displays  clicks channel           timestamp
0        1     101        10       4     web 2025-06-01 12:00:00
1        2     102        20       0  mobile 2025-06-02 15:00:00
2        3     101         3       3     web 2025-06-03 14:00:00
3        4     103         5       1     web 2025-06-04 16:00:00
4        5     102        12       0  mobile 2025-06-05 17:00:00
5        6     101        23       7     web 2025-06-06 18:00:00
6        7     103         6       4  mobile 2025-06-07 19:00:00
7        8     104         9       6     web 2025-06-08 20:00:00
8        9     102        12       8  mobile 2025-06-09 21:00:00
9       10     101        20      10     web 2025-06-10 22:00:00

In [7]:
df.timestamp.dtype

dtype('<M8[ns]')

The timestamp is converted, now let's extract hour, day, and week.

In [12]:
df['hour'] = df['timestamp'].dt.hour
df['day'] = df['timestamp'].dt.day_name()
df['week'] = df['timestamp'].dt.isocalendar().week

In [13]:
df

,user_id,banner,displays,clicks,channel,timestamp,hour,day,week
0,1,101,10,4,web,2025-06-01 12:00:00,12,Sunday,22
1,2,102,20,0,mobile,2025-06-02 15:00:00,15,Monday,23
2,3,101,3,3,web,2025-06-03 14:00:00,14,Tuesday,23
3,4,103,5,1,web,2025-06-04 16:00:00,16,Wednesday,23
4,5,102,12,0,mobile,2025-06-05 17:00:00,17,Thursday,23
5,6,101,23,7,web,2025-06-06 18:00:00,18,Friday,23
6,7,103,6,4,mobile,2025-06-07 19:00:00,19,Saturday,23
7,8,104,9,6,web,2025-06-08 20:00:00,20,Sunday,23
8,9,102,12,8,mobile,2025-06-09 21:00:00,21,Monday,24
9,10,101,20,10,web,2025-06-10 22:00:00,22,Tuesday,24

Now, let's show what day of the week had the highest activity. This would be the day that has more clicks.

In [15]:
df.groupby('day')['clicks'].sum().sort_values()

day
Thursday      0
Wednesday     1
Saturday      4
Friday        7
Monday        8
Sunday       10
Tuesday      13
Name: clicks, dtype: int64

Tuesday had the highest activity, with 13 clicks.